<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!-- The format of the connection string is "DefaultEndpointsProtocol=https;AccountName=NAME;AccountKey=KEY" -->
    <!-- For local execution, the value can be set either in this config file or through environment variables -->
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=devmasterdatabsebackup;AccountKey=dOrDOa+OnFNbd7CkMD8wtCrpX+cDuZW6q2GG24FKs+iy/tN6Kx/Oo0PbHrMeOtBQpqvy4D6hc57QRX7XF79rJA==;EndpointSuffix=core.windows.net"/>
    <add name="AzureWebJobsStorage" connectionString="DefaultEndpointsProtocol=https;AccountName=devmasterdatabsebackup;AccountKey=dOrDOa+OnFNbd7CkMD8wtCrpX+cDuZW6q2GG24FKs+iy/tN6Kx/Oo0PbHrMeOtBQpqvy4D6hc57QRX7XF79rJA==;EndpointSuffix=core.windows.net"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="6.0.0.0" newVersion="12.0.0.0" />
        <bindingRedirect oldVersion="10.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.6.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.6.4.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.6.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!-- LogFileDirectory is the directory where the log will be created.  If the directory is not an absolute path,
             the directory defined here will be created under AppDomain.CurrentDomain.BaseDirectory. -->
    <add key="LogFileDirectory" value="logs" />
    <!-- LogFileRetentionDays is the number of days log files will be retained. 
             If the value is set to zero, purging is disabled. -->
    <add key="LogFileRetentionDays" value="3" />
    <!-- LogFileFormat determines which type of log files will be created.
             Text  = Logs ending in .log, which can be read using Notepad or any other text editor.
             Trace = Logs ending in .svclog, which can be read with Microsoft Trace Viewer.
             Both  = Both types of logs will be created. The same information will be contained in both files. -->
    <add key="LogFileFormat" value="Text" />
    <add key="ApplicationTraceLevel" value="Verbose" />
    <add key="LetterDirectory" value="letters" />
    <add key="CreationLetterJob" value="00:00:15"/>
    <add key="SubmissionJob" value="00:05:00"/>
    <add key="PurgeDataJob" value="00:10:00"/>
    <add key="PurgeLetterJob" value="01:00:15"/>
    <add key="LicenseJob" value="00:00:02" />

    <!-- ACR Prod. Endpoints-->
    <!-- transaction end point-->
    <add key="ACrTransactionEndpoint" value="https://nrdr9x.acr.org/NonPQRSapi/lcsr/transactions"/>
    <!-- auth end point-->
    <add key="AcrAuthenticationEndpoint" value="https://acr-id-test.acr.org/NRDR-UserLogin/authorized/oidcauthorize.aspx"></add>
    <!-- App id-->
    <add key="AcrAppId" value="10007"></add>
    <!-- Partner id-->
    <add key="AcrPartnerId" value="30029"></add>
    <!-- acr token id-->
    <add key="AcrTokenEndpoint" value="https://acr-id-test.acr.org/NRDR-UserLogin/oidctoken.aspx"></add>
    <!--Manual submission acr file version number-->
    <add key="AcrFileVersionNumber" value="1.2"/>

    <add key="SqlServer" value="dev-dbserver-sn.database.windows.net" />

    <add key="SqlDatabaseName" value="QA-SWNDATA" />
    <add key="SqlIntegratedSecurity" value="false" />
    <add key="SqlUser" value="swnadmin" />
    <add key="SqlPassword" value="Root.sdm" />
    
    <!--Below configuration information added for License management-->
    <add key="Tenant" value="777"/>
    <add key="UpdateUsageAPIUrl" value="https://api.test.teamplay.siemens.com/sandbox/Entitlement/Usage/{0}?version=3" />
    <add key="GetUsageAPIUrl" value="https://api.test.teamplay.siemens.com/sandbox/Entitlement/Usage?version=3" />
    
    <add key="usageCounterId" value="SCREENING_EXAM_PER_WORKFLOW"/>
    <!-- TenentId, AppId and SecretKey will be created when we register app in App registrations.
          This will be used for getting the subscription key -->
    <add key="TenentId" value="f82969ba-b995-4d80-8bfa-fd22c1d0557a" />
    <add key="ClientAppId" value="fca39081-f617-4720-a160-eac67c20ed2f" />
    <add key="ClientSecretKey" value="Fb2YUuD8atq8AKjmpfFyM1RKdC+H7SqP5zob6QdXEGQ=" />
    <!-- AppRegUrl amd  KeyVaultUrl will be used to get the subcription key-->
    <add key="AppRegUrl" value="https://login.windows.net/" />
    <add key="KeyVaultUrl" value="https://vault.azure.net" />

    <!--GrandType, ClientId and ClientSecret will be used to create requestBody for 
          getting the access token from teamplay -->
    <add key="GrantType" value="client_credentials"/>
    <add key="ClientId" value="ClientId/ef7f3df872c94fa895065f127b20efed" />
    <add key="ClientSecret" value="ClientSecret/b883139320b045b5bb6917c31ac4f724" />
    <!-- Subscription key will be used to get the access token - this will be used creating httpExtension.DefaultRequestHeaders -->
    <add key="SubscriptionKey" value="SubscriptionKey/2d4df64e186946d7917866ce0e7348e3" />
    <!-- Below value will be a secret key which will be used to build the particular keyvault url -->
    <add key="ConnectionString" value="ConnectionString/3c6eb9ed84264db8b8f7679dcac8e422" />
    <!--The below keyVaultUrl will be created when we create a new KeyVault resource -->
    <add key="ClientKeyVaultURL" value="https://peterjpkeyvault.vault.azure.net/secrets/" />
    <!--The below URL will be used to get the access token of team play which we get from developer portal-> APIs -->
    <add key="TeamplayAccessTokenUrl" value="https://api.test.teamplay.siemens.com/sandbox/oauth/token?version=1"/>
  </appSettings>
</configuration>
